<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link rel="stylesheet" href="style.css">
  <script src="https://unpkg.com/vue@2.6.10/dist/vue.js">

  </script>
</head>
<body>

<script type="text/x-template" id="modal-template">
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header">
            <slot name="header">
                  <h3 slot="header">Subject List</h3>
            </slot>
          </div>



          <div class="modal-body">
            <slot name="body">
              <!--this is body-->


              <!--<div class="card">-->
                <!--<h3 class="card-header text-center font-weight-bold text-uppercase py-4">Editable table</h3>-->
                <div class="card-body">




                    <button  style="background-color:red; margin: 0;  padding-right: 30px; width: 150px ;
                height: 35px; color:white; border-radius:8px;" slot="header" type="button" @click="removeRow(row)" class="fa fa-remove delete-button">Remove</button>

                <button  style="background-color:#8533ff; margin: 0;  padding-right: 30px; width: 150px ;
                height: 35px; color:white; border-radius:8px;" slot="header" type="button" @click="addRow" class="fa fa-remove delete-button">Add a Subject</button>





                  <div id="table" class="table-editable">
                    <span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success"><i
                          class="fas fa-plus fa-2x" aria-hidden="true"></i></a></span>
                    <table class="table table-bordered table-responsive-md table-striped text-center">
                      <thead>
                        <tr>
                          <th class="text-center">Subject ID</th>
                          <th class="text-center">Subject Name</th>
                          <th class="text-center">Class</th>
                          <th class="text-center">Board</th>
                          <th class="text-center">Actions</th>

                        </tr>
                      </thead>

                      <tbody>
                         <tr v-for="row in rows">
                          <td class="pt-3-half" contenteditable="true">Maths106</td>
                          <td class="pt-3-half" contenteditable="true">Maths</td>
                            <td class="pt-3-half" contenteditable="true">10</td>
                              <td class="pt-3-half" contenteditable="true">CBSE</td>
                              <span class="table-remove"><button type="button"
                                  class="btn btn-danger btn-rounded btn-sm my-0"  style="background-color:#8533ff;  border-radius: 8px; padding:6px 20px;">Edit</button></span>


                        </tr>
  <!-- This is our clonable table line -->

                        <tr>
                          <td class="pt-3-half" contenteditable="true">Science1120</td>
                          <td class="pt-3-half" contenteditable="true">Science</td>
                            <td class="pt-3-half" contenteditable="true">11</td>
                              <td class="pt-3-half" contenteditable="true">ICSE</td>


                            <span class="table-remove"><button type="button"
                                class="btn btn-danger btn-rounded btn-sm my-0"  style="background-color:#8533ff;  border-radius: 8px; padding:6px 20px;">Edit</button></span>

                        </tr>
  </tbody>
                    </table>
                  </div>
                </div>
              <!--</div>-->




            </slot>
          </div>

          <div class="modal-footer">
                      <slot name="footer">

                        <button class="modal-default-button" @click="$emit('close')" style="background-color:#8533ff;  padding-right: 30px; width: 100px ;border-radius:8px;
                    height: 35px; color:white" >
                          OK
                        </button>
                      </slot>

          </div>
        </div>
      </div>
    </div>
  </transition>


</script>

<div id="app">
  <button id="show-modal" @click="showModal = true">Show Modal</button>

  <modal v-if="showModal" @close="showModal = false">

  </modal>
</div>
<script src="vue1.js"></script>
</body>
</html>
